* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Signup Box */
.signup-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.signup-box h2 {
    margin-bottom: 20px;
}

.signup-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.signup-box button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right, #4df6a7, #7a5af8);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signup-box button:hover {
    opacity: 0.9;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #161716;
    text-decoration: none;
}
